<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.6.3.slim.js"
    integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>회식회식회식회식회식회식</title>
  <style>
    .person {
      width: 6%;
      margin-right: 2%;
      display: inline-block;
    }
    footer {
      width: 50%;
      bottom: 0px;
      position: absolute;
    }
    
  </style>
</head>

<body>
  <div class="container">
    <h1>회식 배치도</h1>
    <div class="row" style="margin-top: 3vh; margin-bottom: 5vh;">
      <div class="col-md-4"></div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-text" id="inputGroup-sizing-default">테이블 개수</span>
          <input type="text" id="input" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" onkeyPress="javascript:checkInputNum();">
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" onclick="tableSetting()">생성</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" onclick="horizontalLayout()">가로</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" onclick="verticalLayout()">세로</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" onclick="changeSeat()">섞기</button>
      </div>
    </div>
    <div class="row" id="table" style="margin-bottom: 5vh;">

    </div>
    <footer>
      made in jeongho
    </footer>
</body>
<script>
  $(document).ready(function () {
    $(document).on("keyup", ".name", function () {
      const str = "석범";
      if (str === $(this).val()) {
        $(this).parent().find('.icon-div').children().removeClass("bi-person-fill").addClass("bi-person-fill-lock");
      } else {
        $(this).parent().find('.icon-div').children().removeClass("bi-person-fill-lock").addClass("bi-person-fill");
      }
    });
  });

  function tableSetting() {
    $("#table").empty();
    const tableCount = $("#input").val();
    for (let i = 0; i < tableCount; i++) {
      if (i % 2 == 0) {
        $("#table").append(
          "<div class=\"col-md-3 empty-layout\"></div>\n" +
          "      <div class=\"col-md-3\" style=\"margin-bottom: 7vh;\">\n" +
          "        <div id=\"top-table-section\">\n" +
          "          <div class=\"person\" style=\"width: 30%\">\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "            <div class=\"icon-div\" style=\"right: -22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "          </div>\n" +
          "          <div class=\"person\" style=\"width: 30%\">\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "            <div class=\"icon-div\" style=\"right: -22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "          </div>\n" +
          "        </div>\n" +
          "        <div style=\"border: solid 1px; width: 67%; height: 17%;\">\n" +
          "        </div>\n" +
          "        <div id=\"bottom-table-section\">\n" +
          "          <div class=\"person\" style=\"width: 30%;\">\n" +
          "            <div class=\"icon-div\" style=\"-webkit-transform: rotate(180deg);right: 22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "          </div>\n" +
          "          <div class=\"person\" style=\"width: 30%;\">\n" +
          "            <div class=\"icon-div\" style=\"-webkit-transform: rotate(180deg);right: 22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "          </div>\n" +
          "        </div>\n" +
          "      </div>"
        )
      } else {
        $("#table").append(
          "      <div class=\"col-md-3\" style=\"margin-bottom: 7vh;\">\n" +
          "        <div id=\"top-table-section\">\n" +
          "          <div class=\"person\" style=\"width: 30%\">\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "            <div class=\"icon-div\" style=\"right: -22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "          </div>\n" +
          "          <div class=\"person\" style=\"width: 30%\">\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "            <div class=\"icon-div\" style=\"right: -22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "          </div>\n" +
          "        </div>\n" +
          "        <div style=\"border: solid 1px; width: 67%; height: 17%;\">\n" +
          "        </div>\n" +
          "        <div id=\"bottom-table-section\">\n" +
          "          <div class=\"person\" style=\"width: 30%;\">\n" +
          "            <div class=\"icon-div\" style=\"-webkit-transform: rotate(180deg);right: 22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "          </div>\n" +
          "          <div class=\"person\" style=\"width: 30%;\">\n" +
          "            <div class=\"icon-div\" style=\"-webkit-transform: rotate(180deg);right: 22px; position: relative;\">\n" +
          "              <i class=\"bi bi-person-fill\" style=\"font-size: 50px;\"></i>\n" +
          "            </div>\n" +
          "            <input type=\"text\" class=\"form-control name\">\n" +
          "          </div>\n" +
          "        </div>\n" +
          "      </div>\n" +
          "      <div class=\"col-md-3 empty-layout\"></div>"
        )
      }
    }
    return;
  }
  function checkInputNum() {
    if ((event.keyCode < 48) || (event.keyCode > 57)) {
      event.returnValue = false;
    }
  }

  function horizontalLayout() {
    $(".empty-layout").css('display', 'none');
  }

  function verticalLayout() {
    $(".empty-layout").css('display', '');
  }

  function changeSeat() {
    let names = []
    $('.name').each(function (index, item) {
      let name = $(item).val()
      if (name !== '') {
        names.push(name);
      }
    });
    names.sort(() => Math.random() - 0.5);
    $('.name').each(function (index, item) {
      $(item).val(names[index])
    });
  }

</script>

</html>